<div class="col-md-3 col-lg-2 bg-dark text-light sidebar">
    <div class="pt-3">
        <ul class="nav flex-column">
            <h4 class="px-3">Menu</h4>
            <li class="nav-item">
                <a href="/catalog/home" class="nav-link px-3 py-2 my-1">
                    Главная
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a href="/catalog/catalog" class="nav-link px-3 py-2 my-1">
                    Каталог товаров
                </a>
            </li>


                <li class="nav-item">
                    <a href="/catalog/category" class="nav-link px-3 py-2 my-1">
                        Мои заказы
                    </a>
                </li>

                {% if user.is_staff %}
                <li class="nav-item">
                    <a href="{% url 'add_product' %}" class="nav-link px-3 py-2 my-1">
                        Добавить товар
                    </a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a href="/blogs/home" class="nav-link px-3 py-2 my-1">
                        Блоги
                    </a>
                </li>


            <li class="nav-item">
                <a href="/catalog/contacts" class="nav-link px-3 py-2 my-1">
                    Контакты
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <!-- Выпадающее меню пользователя -->
    <div class="user-menu mt-auto p-3">
        <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle w-100 text-start" type="button" id="userDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                <div class="d-flex align-items-center">
                    <div class="me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd"
                                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </div>
                    <span class="user-name">
                        {% if user.is_authenticated %}
                            {{ user.username }}
                        {% else %}
                            Гость
                        {% endif %}
                    </span>
                </div>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="userDropdown">
                {% if user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Профиль</a></li>
                    <li><a class="dropdown-item" href="{% url 'settings' %}">Настройки</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Войти</a></li>
                    <li><a class="dropdown-item" href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>